:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --accent-color: #000;
  --border-color: #000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: #fff;
  border-bottom: 2px solid var(--border-color);
}
