<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja-JP" }}">
	
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>城西大学・香川セミナー</title>
    <link rel="icon" href="/assets/icons/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <meta name="theme-color" content="#0068B7">
  </head>

  <body>

    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">
          <!-- <a href="http://k16kgw.github.io"> -->
            城西大学・香川セミナー
          <!-- </a> -->
	</h1>
        <h2 id="project_tagline">
	  こちらは城西大学理学部情報数理学科 香川セミナーのホームページです。
        </h2>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>    
  </body>
	    
</html>
